/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 22px;
    color: pink;
    /* font-family: 'Cedarville Cursive', cursive;
} */
/* font-family: 'Ubuntu', sans-serif;*/
font-family: 'ubuntu',sans-serif;

} 